.home-page{
    position: absolute;
    right: 0;top: 25px;
    width: 90%;
    height: 100%;
}


.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:"logo"
                        "menu"
                        "breadcrumb"
                        "main"
                        "sidebar"
                        "footer";
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    left: 50%;
    height: 100%;
    margin: 20px;
 }

 .div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }

.parent div .frame{
    background-color:rgb(54, 54, 54);
    border-radius: 5px;
}

.parent div{
    background-color: none;
    height: 300px;
    width: 300px;
    -webkit-box-shadow: 0px 0px 44px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 44px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 44px -3px rgba(0,0,0,0.75);
    margin-top: 0;
    transition: 0.3s;
}


.parent div:hover{
    margin-top: -5px;
}

.parent div img{
    width: 100px;
    height: 100px;
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 80px;
}

.parent div h5{
    font-size: 1.5em;
    text-align: center;
    position: relative;
    top: 10px;
    color: rgb(218, 218, 218);
}

.parent div .open{
    cursor: pointer;
    width: 120px;
    height: 40px;
    font-size: 1.2em;
    border-radius: 5px;
    background: none;
    border: 3px solid rgb(59, 59, 134);
    color: rgb(59, 59, 134);
    text-transform: uppercase;
    transition: 0.3s;
    margin: 10px;
}

.parent div .open:hover{
    background-color:rgb(59, 59, 134);
    color: rgb(206, 206, 206);
}

.parent div .site{
    cursor: pointer;
    width: 130px;
    height: 50px;
    font-size: 1em;
    border-radius: 5px;
    background: none;
    border: 3px solid rgb(60, 139, 60);
    color: rgb(60, 139, 60);
    text-transform: uppercase;
    transition: 0.3s;
    margin: 5px;
    position: relative;
    bottom: 9px;
}

.parent div .site:hover{
    background-color:rgb(60, 139, 60);
    color: rgb(206, 206, 206);
}
