.navBar{
    /* rgb(36, 36, 36)
    background-color: rgb(61, 61, 61);*/
    position: fixed;
    left: 0;
    height: 100%;
    width: 10%;
    top:25px;
    border-right: 1px solid black;
    z-index: 5;
}

.navBar div a{
    transition: 0.5s;
    text-transform: uppercase;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    display: block;
    text-align: center;
    color: rgb(184, 184, 184);
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    transition: 0.3s;
    z-index: 1;
    position: relative;
    padding: -100%;
}

.navBar div{
    z-index: 1;
    width: 100%;height: 150px;
    background-color: rgb(41, 41, 41);
    transition: 0.3s;
}

.navBar div:hover{
    background-color: rgb(58, 58, 58);
}

.navBar div:hover ~ .navBar div a{
    color: rgb(214, 214, 214);
}

.navBar div:hover ~ a{
    color: white;
}
