body{
    padding: 0;margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(39, 39, 39);
    color:  white;
}

::-webkit-scrollbar {
    display: none;
}


.topbar{
 height: 25px;
 width: 100%;
 background-color: #3d3d3d;
 -webkit-app-region: drag;
 position: fixed;
 z-index: 50;
}

.title-topbar{   
    position: absolute;
    color: rgb(226, 226, 226);
    margin-top: 5px;
    margin-left: 20px;
    font-size: 17px;
}

.close{
    color: rgb(214, 214, 214);
    position: absolute;
    right: 0;
    transition: 0.3s;
    height: 25;width: 45px;
    -webkit-app-region: no-drag;
}
.close svg{
    height: 20px;width: 20px;
    margin-left: 14px;
    margin-top: 2px;
}

.close:hover{
    background-color: rgb(148, 148, 148);
    color: rgb(255, 255, 255);;
}

.screen{
    color: rgb(214, 214, 214);
    position: absolute;
    right: 45px;
    transition: 0.3s;
    height: 25;width: 45px;
    -webkit-app-region: no-drag;
}
.screen svg{
    height: 15px;width: 15px;
    margin-left: 16px;
    margin-top: 5px;
}

.screen:hover{
    background-color: rgb(148, 148, 148);
    color: rgb(255, 255, 255);;
}

.minimize{
    -webkit-app-region: no-drag;
    color: rgb(214, 214, 214);
    position: absolute;
    right: 90px;
    transition: 0.3s;
    height: 25;width: 45px;
}
.minimize svg{
    height: 15px;width: 15px;
    margin-left: 16px;
    margin-top: 5px;
}

.minimize:hover{
    background-color: rgb(148, 148, 148);
    color: rgb(255, 255, 255);;
}
